<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	<!-- 이렇게 하면 도메인에있는 모든게 타입언라이언스로 잡힘 -->
    <package name="cosmos.algoboard.domain"/> 
    <package name="cosmos.codefight.domain"/>
    <package name="cosmos.education.domain"/>
    <package name="cosmos.freeboard.domain"/>
    <package name="cosmos.group.domain"/>
    <package name="cosmos.groupboard.domain"/>
    <package name="cosmos.login.domain"/>
    <package name="cosmos.multiple.domain"/>
    <package name="cosmos.ranking.domain"/>
    <package name="cosmos.signup.domain"/>
    <package name="cosmos.subjective.domain"/>
    <package name="cosmos.webcompile.domain"/>
    <package name="cosmos.mypage.domain"/>
  </typeAliases>


</configuration>

