<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.GroupMapper">
   
  <select id="currentList" resultType="LoginVO">
		select memberID,memberName from CURRENTLOGINMEMBERLIST
  </select>
	
	<select id="inviteList" resultType="InviteVO" parameterType="LoginVO">
		select * from INVITE where 
		receive1 = #{memberID,jdbcType=VARCHAR} OR
		receive2 = #{memberID,jdbcType=VARCHAR} OR
		receive3 = #{memberID,jdbcType=VARCHAR} OR
		receive4 = #{memberID,jdbcType=VARCHAR} OR
		receive5 = #{memberID,jdbcType=VARCHAR} OR
		receive6 = #{memberID,jdbcType=VARCHAR}
	</select>
</mapper>