<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.LoginMapper">
   
   <select id="login" resultType="loginVO">
      select memberID,memberPw,memberName,memberPhoneNum,memberEmail,isLeader
      from member
      where memberID = #{memberID} and memberPw = #{memberPw}
   </select>
   
   <update id="keepLogin">
   	update member set sessionKey = #{sessionId}, sessionLimit = #{next} where memberID = #{memberID}
   </update>
   
   <select id="checkUserWithSessionKey" resultType="loginVO">
   	select * from member where sessionKey = #{value} and sessionLimit > SYSDATE
   </select>
   
   <select id="currentLoginMember" resultType="string">
      select membername
       from CurrentLoginMemberList
         where memberID = #{memberID}
    </select>
    
   <delete id="currentLogoutMember">
		delete from CurrentLoginMemberList 
		where memberID = #{memberID,jdbcType=VARCHAR}
	</delete>
	
   	<insert id="insertCurrentMember">
		insert into CurrentLoginMemberList(
			memberID, memberName 
		)values(
			#{memberID}, #{memberName,jdbcType=VARCHAR}
		)
	</insert>
</mapper>