<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.loginMapper">
   
   <select id="login" resultType="loginVO">
      select memberID,memberPw,memberName,memberPhoneNum,memberEmail,isLeader
      from member
      where memberID = #{memberID} and memberPw = #{memberPw}
   </select>
   
   <select id="currentLoginMember"  resultType="string">
      select membername
       from CurrentLoginMemberList
         where memberID = #{memberID}
    </select>
   
   	<insert id="insertCurrentMember">
		insert into CurrentLoginMemberList(
			memberID, memberName 
		)values(
			#{memberID}, #{memberName,jdbcType=VARCHAR}
		)
	</insert>
	
	
</mapper>