<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.multipleMapper">
   
   <select id="selectMultiple" parameterType="MultipleVO" resultType="MultipleVO">

  		<!-- select * 
  		from MULTIPLETYPEQUESTION 
  		where MULQUESTCATEGORI = #{mulquestCategori} AND MULQUESTLEVEL = #{mulquestLevel} -->
  		 select * from(
      select * from MULTIPLETYPEQUESTION
      where MULQUESTCATEGORI = #{mulquestCategori}
      and MULQUESTLEVEL = #{mulquestLevel}
      order by DBMS_RANDOM.RANDOM
      ) <![CDATA[where rownum <= 2 ]]>
  	</select>
  	
  	  
  	
  	<select id ="selectMultipleChoice" parameterType="String"	resultType="MultipleChoice">
  		
  		select *
  		from multipleChoice
  		where multipleChoiceId = #{multipleChoiceId}
  	</select>
  	
  	<select id="reMultiple" parameterType="String" resultType="MultipleVO">
  		select *
  		from MULTIPLETYPEQUESTION
  		where mulquestId = #{mulquestId}
  	</select>

  	
  	<update id="pointInsert" parameterType="MultiplePoint"> 
  		update member set MULTIPLE_POINT = MULTIPLE_POINT + #{successPoint}
        WHERE memberId = #{memberId}  		
  	</update>
  
</mapper>  
