<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.MypageMapper">
   
	<update id="update" parameterType="UserVO">
		update member set memberPw = #{memberPw, jdbcType=VARCHAR}, memberEmail=#{memberEmail,jdbcType=VARCHAR}, 
					memberName = #{memberName,jdbcType=VARCHAR}, memberPhoneNum=#{memberPhoneNum,jdbcType=VARCHAR}
								where memberID = #{memberID,jdbcType=VARCHAR}
	</update>
</mapper>