<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.NoticeMapper">

   <insert id="create" parameterType="NoticeVO">
		insert into noticeboard(bno,title,content,writer,regdate,viewcnt)
		values(notice_seq.nextval, #{title}, #{content}, #{writer}, sysdate,0)
	</insert>

	<select id="getList" resultType="NoticeVO">
		<![CDATA[
		select *
		from noticeboard  
		where bno > 0
		]]>
				<include refid="search"></include>
		        
		 <![CDATA[
		        order by bno desc , regdate desc
		        ]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and content like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like '%'|| #{keyword}||'%' OR content like
				'%'||
				#{keyword}||'%')
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like '%'|| #{keyword}||'%' OR writer like
				'%'||
				#{keyword}||'%')
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like '%'|| #{keyword}||'%'
				OR
				content like
				'%'|| #{keyword}||'%'
				OR
				writer like '%'|| #{keyword}||'%')
			</if>
		</if>
	</sql>

	<select id="getBoard" parameterType="Integer" resultType="NoticeVO">
		select * from noticeboard where bno = #{bno}

	</select>

	<update id="update" parameterType="NoticeVO">
		update noticeboard set title = #{title}, content=#{content}, writer=#{writer}
		where bno = #{bno}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from noticeboard where bno = #{bno}
	</delete>

	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno)
		from noticeboard
		where bno > 0  ]]>
		<include refid="search"></include>
	</select>

	<update id="updateReplyCnt">
		update noticeboard set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>

	<select id="getBno" resultType="int">
		select bno
		from notice_reply
		where rno = #{rno}
	</select>

	<update id="updateViewCnt">
		update noticeboard set viewcnt = viewcnt+1
		where bno = #{bno}

	</update>

	<insert id="addAttach" parameterType="FileVO">
		insert into notice_attach(fullname,bno) values(#{fullName},#{bno})
	</insert>

	<select id="maxNum" resultType="int">
		select MAX(bno) from noticeboard
	</select>

	<select id="getAttach" resultType="string">
		select fullname from notice_attach where bno = #{bno} order by regdate
	</select>

	<delete id="deleteAttach">
		delete from notice_attach where bno = #{bno}
	</delete>

	<insert id="replaceAttach">
		insert into notice_attach(fullname,bno) values (#{fullName},#{bno})
	</insert>
</mapper>