<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cosmos.mappers.rankingMapper">

	<select id="allAlgoRanking" resultType="AlgoRankingVO">
		select memberID,memberName,algo_ranking,algo_point
		from member
		where algo_point != 0
		ORDER BY algo_point DESC
	</select>

	<select id="allCodeRanking" resultType="CodeRankingVO">
		select memberID,memberName,code_ranking,code_point
		from member
		where code_point != 0
		ORDER BY code_point DESC
	</select>


	<update id="updateAlgoRanking" parameterType="AlgoRankingVO">
		update member set
		algo_ranking = #{algo_ranking}
		where memberID = #{memberID}
	</update>

	<update id="updateCodeRanking" parameterType="CodeRankingVO">
		update member set
		code_ranking = #{code_ranking}
		where memberID = #{memberID}
	</update>
</mapper>  
