<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cosmos.mappers.rankingMapper">

	<select id="allMultipleRanking" resultType="MultipleRankingVO">
		select memberID,memberName,multiple_ranking,multiple_point
		from member
		where multiple_point != 0
		ORDER BY multiple_point DESC
	</select>

	<select id="allSubjectRanking" resultType="SubjectRankingVO">
		select memberID,memberName,subject_ranking,subject_point
		from member
		where subject_point != 0
		ORDER BY subject_point DESC
	</select>


	<update id="updateMultipleRanking" parameterType="MultipleRankingVO">
		update member set
		multiple_ranking = #{multiple_ranking}
		where memberID = #{memberID}
	</update>

	<update id="updateSubjectRanking" parameterType="SubjectRankingVO">
		update member set
		subject_ranking = #{subject_ranking}
		where memberID = #{memberID}
	</update>
	
	<select id="selectRanking" resultType="RankingVO" parameterType="string">
		select multiple_ranking,multiple_point,subject_ranking,subject_point,memberID
			from member
			where memberID = #{memberID}
	</select>
</mapper>  
