<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.signupMapper">
   
    <insert id="insertMember" parameterType="SignUpVO">
		insert into member(
			memberID , memberPw , memberEmail, memberName , isLeader, memberPhoneNum
		)values(
			#{memberID,jdbcType=VARCHAR},#{memberPw,jdbcType=VARCHAR}, #{memberEmail,jdbcType=VARCHAR}, 
			#{memberName ,jdbcType=VARCHAR}, 0, #{memberPhoneNum ,jdbcType=VARCHAR}
		) 
		
	</insert>
  
	<select id="selectMember" parameterType="String" resultType="String">
		select memberID from member
			where memberID = #{memberID,jdbcType=VARCHAR} 
	</select>
	
	<update id="updateMember" parameterType="SignUpVO">
		update member set memberPw = #{memberPw, jdbcType=VARCHAR}, memberEmail=#{memberEmail,jdbcType=VARCHAR}, 
					memberName = #{memberName,jdbcType=VARCHAR}, memberPhoneNum=#{memberPhoneNum,jdbcType=VARCHAR}
								where memberID = #{memberID,jdbcType=VARCHAR}
	</update>
  
</mapper>  
