<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.subjectiveMapper">
   
   <select id="selectSubjective" parameterType="SubjectiveVO" resultType="SubjectiveVO">
	select * from(
		select * from SUBJECTIVETYPEQUESTION
		where SUBJ_CATEGORI = #{subj_Categori}
		and SUBJ_LEVEL = #{subj_Level}
		order by DBMS_RANDOM.RANDOM
		) <![CDATA[where rownum <= 2 ]]>
   </select>
  
  <select id="choiceSubjective" parameterType="String" resultType="SubjectiveVO">
  	select *
  	from SUBJECTIVETYPEQUESTION
  	where SUBJ_QUESTID = #{subj_QuestId}
  </select>
  
  <select id="countSubjective" parameterType="SubjectiveVO" resultType="int">
  	select count(*)
	from SUBJECTIVETYPEQUESTION
	where SUBJ_CATEGORI = #{subj_Categori} AND SUBJ_LEVEL = #{subj_Level}
  </select>
  
  <update id="pointInsert" parameterType="SubjectivePointVO"> 
  		update member set algo_point = algo_point + #{successPoint}
        WHERE memberId = #{memberId}  		
  	</update>
  
</mapper>  
