<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cosmos.mappers.subjectiveMapper">
   
   <select id="selectSubjective" parameterType="SubjectiveVO" resultType="SubjectiveVO">
   		select * 
  		from SUBJECTIVETYPEQUESTION 
  		where SUBJ_CATEGORI = #{subj_Categori} AND SUBJ_LEVEL = #{subj_Level}
   </select>
  
  <select id="choiceSubjective" parameterType="String" resultType="SubjectiveVO">
  	select *
  	from SUBJECTIVETYPEQUESTION
  	where SUBJ_QUESTID = #{subj_QuestId}
  </select>
  
</mapper>  
